<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyf.demo.mapper.SysLogMapper">

    <resultMap id="BaseResultMap" type="com.hyf.demo.entity.SysLog">
            <id property="logId" column="log_id" jdbcType="BIGINT"/>
            <result property="logOperationUser" column="log_operation_user" jdbcType="VARCHAR"/>
            <result property="logPath" column="log_path" jdbcType="VARCHAR"/>
            <result property="logMethod" column="log_method" jdbcType="VARCHAR"/>
            <result property="logParameter" column="log_parameter" jdbcType="VARCHAR"/>
            <result property="logResponseTime" column="log_response_time" jdbcType="VARCHAR"/>
            <result property="logIp" column="log_ip" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="logAction" column="log_action" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        log_id,log_operation_user,log_path,
        log_method,log_parameter,log_response_time,
        log_ip,create_time,log_action
    </sql>
</mapper>
